name: Frontend CI

on:
  push:
    branches: [ "develop" ]
    paths:
      - "frontend/**"
  pull_request:
    branches: [ "main" ]

jobs:
  frontend-ci:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - name: Docker login to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      - name: Build frontend image
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/urbanmart-frontend:latest frontend

      - name: Push frontend image
        run: |
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/urbanmart-frontend:latest

      - name: Trivy image scan
        uses: aquasecurity/trivy-action@41f05d9ecffa2ed3f1580af306000f734b733e54
        with:
          image-ref: ghcr.io/${{ secrets.GHCR_USERNAME }}/urbanmart-frontend:latest
          severity: CRITICAL
          exit-code: 1
